<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077372393582-mld2asa838b8v4dajl5n5a3ngg8anevf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077372393582-mld2asa838b8v4dajl5n5a3ngg8anevf</string>
	<key>API_KEY</key>
	<string>AIzaSyCDEMAfJFZEjhm4DRvJwHsOgqPcjUVypRY</string>
	<key>GCM_SENDER_ID</key>
	<string>1077372393582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dabco.jam</string>
	<key>PROJECT_ID</key>
	<string>jam-app-45465</string>
	<key>STORAGE_BUCKET</key>
	<string>jam-app-45465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077372393582:ios:e89a8fd9b738a676dfae7f</string>
</dict>
</plist>